body{
    font-family: 'Lobster', cursive;
    background-color: rgb(124, 68, 177);
}

.header_div{
    background:wheat;
    color: orangered;
}

.header_div p{
    font-family: 'Pacifico', cursive;
    color: purple;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Roboto',sans-serif;
    margin-top: 20px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color: rgb(182, 17, 182);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: turquoise;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}